
.meta-table {
	width: 100%;
}
td.slide-holder {
	width: 50%;
}

.slider-skill {
	width: 100%;
}

.meta-table input {
	width: 75%;
}

.float-right {
	text-align: right;
}

/* jquery Sliders */

.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 1px solid #333;
    background-color: #333;
    border-radius: 2px;
    background-position: 0 0;
}

.ui-slider-horizontal .ui-slider-handle {
    border: 1px solid #999;
    background: #ddd;
    border-radius: 3px;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

.ui-slider-horizontal {
    height: .8em;
    background: #999;
    border: 1px solid #999;
    border-radius: 3px;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}

/* End Sliders */

/* Service Section */

.choose-icon {
    padding: 5px;
    width: 50px;
    text-align: center;
    border: 2px solid #777;
    border-radius: 2px;
}

.choose-icon:hover {
    cursor: pointer;
    color: #0074a2;
}

/* Service Icon Selection Div */
.select-icon:hover {
    cursor: pointer;
    color: #0074a2;
}

.chosen {
    color: #dd823b;
}
/* End Service section */

/* About Section */
.add-contact {
	cursor: pointer;
	padding: 5px;
    border: 2px solid #777;
    border-radius: 2px;
    width: 100px;
}

.choose-icon {
    display: inline-block;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border: 2px solid #777;
    border-radius: 2px;
}

.select-contact-icon:hover {
    cursor: pointer;
    color: #0074a2;
}

/* End About Section */

/* People Section */
.add-social {
	cursor: pointer;
    padding: 5px;
    border: 2px solid #777;
    border-radius: 2px;
    width: 100px;
}

.select-social-icon:hover {
    cursor: pointer;
    color: #0074a2;
}

.add-social:hover {
    cursor: pointer;
    border: 2px solid #0074a2;
    color: #0074a2;
}

.choose-social {
    display: inline-block;
    padding: 2px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border: 2px solid #777;
    border-radius: 2px;
}

.choose-social:hover {
    cursor: pointer;
    color: #0074a2;
}

.sorter {
    float: right;
    cursor: move;
	padding-left: 10px;
}
.icon-td {
    vertical-align: middle;
}
/* End People Section */

.add-contact-entry {
    cursor: pointer;
    padding: 5px;
    border: 2px solid #777;
    border-radius: 2px;
    width: 100px;
}

/* End Contact Section */

/* Image upload */
#upload_image {
	width: auto;
}
#upload_image_button {
	width: auto;
}

/* Custom Redux fields */
	/* sortable_text_check */
.redux-container-sortable_text_check label {
  margin-right: 10px;
  width: 300px;
}
.redux-container-sortable_text_check i {
    vertical-align: middle;
    width: 30px;
}

.redux-container-sortable_text_check i:hover {
	cursor: pointer;
}

.redux-container-sortable_text_check input {
  margin-right: 10px;
}
.redux-container-sortable_text_check .checkbox-container {
  width: 364px;
}
.redux-container-sortable_text_check .checkbox-container .drag {
  float: right;
  margin-left: 10px;
}
.redux-container-sortable_text_check li.ui-state-highlight {
  height: 30px;
  width: 364px;
  margin-bottom: 13px;
}

	/* social icons select */
#opt-multi-social-ul li {
	border-bottom: 1px solid #E7E7E7;
	padding: 10px;
}

	/* import demo */

/* Short Code Modal styles */

.sc-container input {
	border: 1px solid rgba(0,0,0,0.2);
	width: 100%;
}

.sc-container select {
	width: 100%;
}

.sc-container textarea {
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
}

.sc-wrapper {
	padding: 20px;
}

.fields {
	margin: 10px 0;
	height: 35px;
}

.sc-label {
	float: left;
	width: 170px;
	text-align: left;
}

.sc-option {
	float: right;
	width: 300px;
}

.sc-individual {
	clear: both;
	min-height: 200px;
	padding-top: 40px;
}

input.sc-save {
	width: 90px;
	margin-bottom: 20px !important;
	text-align: center;
	float: right;
}
/* End Short Code Modal styles */

/* textarea fullwidth */
.text-wide {
	width: 100%;
}

/* Our own Dialogs - override VC style removal with original styles */
.sh_dialog .ui-dialog-titlebar button {
    background: none repeat scroll 0px 0px transparent;
    border: medium none;
    box-shadow: none;
    color: #666;
    cursor: pointer;
    display: block;
    padding: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 36px;
    height: 36px;
    text-align: center;
}

.sh_dialog .ui-dialog-buttonset button {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0px;
    padding: 0px 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    color: #555;
    border-color: #CCC;
    background: none repeat scroll 0% 0% #F7F7F7;
    box-shadow: 0px 1px 0px #FFF inset, 0px 1px 0px rgba(0, 0, 0, 0.08);
    vertical-align: top;
}

/* Widget CSS */

/* Instagram settings */
.instagram-container .blocked-images { margin: 0 0 0 0; padding: 0 0 0 0; }
.instagram-container .blocked-images:after { content: ""; display: table; clear: both; }
.instagram-container .blocked-images-toggle { padding-left: 7px; }
.instagram-container .blocked-images-toggle:focus { outline: 0; border: none; box-shadow:none }
.instagram-container .blocked-column { width: 60px; max-height: 60px; margin: 3px; display:inline-block; position:relative; float:left; }
.instagram-container .blocked-column .blocked-imgcontainer img{ max-width:100%; background:#ccc; display:block; cursor: pointer }
.instagram-container .blocked-column .blocked-imgcontainer .jr-allow-yes { z-index: 5; padding: 0 0 0 0; font-size: 18px; top: 5px; right: -5px; line-height:0; color: #ffffff; position: absolute; cursor: pointer; text-shadow: 2px 2px 4px #000000; visibility:hidden; opacity:0; transition: visibility 0s linear 0.3s,opacity 0.3s linear; -webkit-transition-delay: visibility 0s linear 0.3s,opacity 0.3s linear; -moz-transition-delay: visibility 0s linear 0.3s,opacity 0.3s linear; -o-transition-delay: visibility 0s linear 0.3s,opacity 0.3s linear;  }
.instagram-container .blocked-column .blocked-imgcontainer .jr-allow-yes:before { width:20px; background-color: #1e8cbe; -webkit-box-shadow: 0 0 0 1px #fff,0 0 0 2px #1e8cbe; -moz-box-shadow: 0 0 0 1px #fff,0 0 0 2px #1e8cbe; box-shadow: 0 0 0 1px #fff,0 0 0 2px #1e8cbe; }
.instagram-container .blocked-column:hover .blocked-imgcontainer .jr-allow-yes { visibility:visible; opacity:1; transition-delay:0s; -webkit-transition-delay:0s; -moz-transition-delay:0s; -o-transition-delay:0s; }

/* Info bubbles and importing styles  */
.import-desc {
	max-width: 700px;
}
.demo-import-wait-div {
	border-color: #555555;
	border: 1px solid;
	border-radius: 4px;
	padding: 20px;
}
.demo-import-success-div {
    background-color: #C4EE91;
    border-color: #71AF5D;
    color: #4D7615;
	border: 1px solid;
	border-radius: 4px;
	padding: 20px;
}
.demo-import-fail-div {
	background-color: #FBEBA4;
	border-color: #D7C281;
	color: #958234;
	border: 1px solid;
	border-radius: 4px;
	padding: 20px;
}
.info-desc {
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	line-height: 1.5;
	margin: 1em 0px;
}
/* End Info bubbles */
